{% extends "_base.html" %}
{% load i18n allauth %}

{% block main_content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% trans "Change Password" %}</h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col">
                {% url 'account_change_password' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
                </form>
                <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
