{% extends "_base.html" %}


{% block main_content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sign Up</h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% block content %}
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
            </form>
        {% endblock %}
        </div>
    </div>
</section>
{% endblock %}