{% extends "_base.html" %}

{% block main_content %}
<div class="container text-center">
  <h1>{{ user.first_name }} {{ user.last_name }}'s Profile</h1>
  <ul class="list-unstyled">
    <li><strong>Email:</strong> {{ user.email }}</li>
    <li><strong>Phone Number:</strong> {{ user.phone_number }}</li>
    <li><strong>Address:</strong> {{ user.address }}</li>
    <li><strong>Account Created:</strong> {{ user.created_at }}</li>
    <li><strong>Last Modified:</strong> {{ user.modified_at }}</li>
  </ul>
</div>
{% endblock %}