{% extends "product_catalog/homepage.html" %}
{% load i18n %}


{% block categories_name %}
{% trans "Product's categories" %}
{% endblock %}

{% block under_categories_name %}
{% trans "" %}
{% endblock %}

{% block content %}
{% for category in categories %}
<div class="col mb-5">
    <a href="{% url 'product_catalog:product_list' category.slug %}" class="category-link">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}" />
        </a>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="card-body">{% trans category.name %}</h5>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <!-- <h5 class="card-body">{% trans category.name %}</h5> -->
            <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_catalog:product_list' category.slug %}">{% trans "Explore" %}</a></div> -->
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


{% block rights %}
{% trans "All rights reserved &copy; My Gorishok 2024" %}
{% endblock %}