{% extends "homepage.html" %}
{% load i18n %}


{% block categories_name %}
{% trans products.first.category.name %}
{% endblock %}

{% block under_categories_name %}
{% trans "" %}
{% endblock %}

{% block main_page_link %}
{% url 'product_catalog:category_list' %}
{% endblock %}

{% block content %}
{% for product in products %}
<div class="col mb-5">
    <a href="{% url 'product_catalog:product_detail' category=product.category.slug pk=product.pk %}" class="product-link">
    <div class="card h-100">
        <!-- Product image-->
        {% if product.images.all %}
            {% with first_image=product.images.first %}
                <img class="card-img-top" src="{{ first_image.image.url }}" alt="{{ product.name }}" />
            {% endwith %}
        {% endif %}
    </a>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                </div>
                <!-- Product price-->
                {{ product.price }} {% trans 'UAH' %}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


{% block rights %}
{% trans "All rights reserved &copy; My Gorishok 2024" %}
{% endblock %}
