{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% block categories_name %}{% endblock %}</h1>
            <p class="lead fw-normal text-white-50 mb-0">{% block under_categories_name %}{% endblock %}</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</section>
{% endblock %}