{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
        <!-- Product section-->
        {% block product_section %}
        {% endblock %}
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">{% trans 'Related products' %}</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% block related_prods %}
                    {% endblock %}
                </div>
            </div>
        </section>
{% endblock %}